.container {
  padding: 0;
}

.main {
  overflow-x: hidden;
  /* align-items: center; */
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
  padding-left: 15px;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  display: inherit;
  align-self: flex-start;
  min-width: 50%;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.mainBox {
  width: 60%;
  align-self: flex-end;
  height: 100vh;
  display: flex;
  margin-top: -12%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.circularBox {
  display: flex;
  width: 500px;
  height: 500px;
  transform: skew(0deg);
}
.javascript {
  position: absolute;
  top: 15px;
  left: 0px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-name: imageMove;
  -webkit-animation-duration: 5s;
}
.css {
  position: absolute;
  top: -15px;
  left: 75px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-name: imageMove;
  -webkit-animation-duration: 5s;
}
.react {
  position: absolute;
  top: 175px;
  left: 75px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-name: imageMove;
  -webkit-animation-duration: 5s;
}
.angular {
  position: absolute;
  top: 125px;
  left: 150px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-name: imageMove;
  -webkit-animation-duration: 5s;
}
.python {
  position: absolute;
  top: 75px;
  left: 75px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-name: imageMove;
  -webkit-animation-duration: 5s;
}
.html {
  position: absolute;
  top: 15px;
  left: 150px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-name: imageMove;
  -webkit-animation-duration: 5s;
}
.node {
  position: absolute;
  top: 75px;
  left: 175px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-name: imageMove;
  -webkit-animation-duration: 5s;
}
.firebase {
  position: absolute;
  top: 125px;
  left: 0px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-name: imageMove;
  -webkit-animation-duration: 5s;
}
.mongo {
  position: absolute;
  top: 75px;
  left: -25px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-name: imageMove;
  -webkit-animation-duration: 5s;
}
.mainCircle {
  width: 200px;
  height: 200px;
  position: absolute;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-name: orbit;
  -webkit-animation-duration: 5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -moz-animation-name: orbit;
  -moz-animation-duration: 5s;
  top: 50px;
  left: 50px;
  display: flex;
  border-radius: 50%;
  flex: 7;
}

.buyCoffee {
  align-self: flex-end;
  display: flex;
  align-items: center;
  min-width: 190px;
  height: 40px;
  transform: skew(0deg);
  background-color: #e9c256;
  border-radius: 50px 0px 0px 50px;
  margin-top: 400px;
  margin-left: 100px;
}
.coffeeIcon {
  width: 50px;
  height: 50px;
  margin-left: -5px;
}
.coffeeText {
}
.firstPage {
  background-image: url("../assets/mainBg.png");
  background-repeat: no-repeat;
  min-height: 100vh;
  padding: 0;
  min-width: 100vw;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  overflow-y: hidden;
}

@-webkit-keyframes imageMove {
  from {
    -webkit-transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
  }
}
@-webkit-keyframes orbit {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
